/* * {
  border: 5px solid red !important;
} */

h1 {
  font-family: "Monday Routines";
  white-space: nowrap;
  /* font-size: 4.8rem; */
  font-size: calc(48px + (48 - 12) * (100vw - 400px) / (1920 - 400));
}

h2 {
  /* font-size: 3.6rem; */
  font-size: calc(36px + (36 - 12) * (100vw - 400px) / (1920 - 400));
}

h3 {
  /* font-size: 2.4rem; */
  font-size: calc(24px + (24 - 12) * (100vw - 400px) / (1920 - 400));
}

p,
article,
ul,
li {
  font-size: calc(20px + (20 - 12) * (100vw - 400px) / (1920 - 400));
}

li {
  white-space: nowrap;
}

button {
  font-size: 1.8rem;
}

.icons {
  font-size: calc(40px + (40 - 12) * (100vw - 400px) / (1920 - 400));
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.skill-icon {
  /* position: absolute; */
  /* left: 10rem; */

  /* transform: translate(-500%); */
  font-size: calc(30px + (30 - 12) * (100vw - 400px) / (1920 - 400));
  margin-left: 0.4rem;
  /* z-index: 1; */
}

.slide {
  overflow-y: hidden;
  max-height: 100%;
  transition-property: all;
  transition-duration: 0.5s;
}

.closed {
  max-height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  overflow-y: hidden;
}

.link {
  color: white;
}

.active-nav-link,
.link:hover {
  background: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 1rem white;
  width: 75%;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.4rem 0;
  border-radius: 0.6rem;
  background-color: white;
  border: 2px solid black;
  min-width: 10rem;
  max-width: 10rem;
  /* text-align: center; */
}

.btn:hover {
  background-color: black;
  color: white;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: calc(16px + (16 - 12) * (100vw - 400px) / (1920 - 400));
}

.show-blog-notification {
  display: flex;
}

.hidden {
  display: none;
}

.tool-tip-container {
  position: relative;
  display: inline-block;
}

.tool-tip-container .tool-tip-text {
  visibility: hidden;
  min-width: 20rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tool-tip-container .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tool-tip-container:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}

#static:checked {
  background-color: blue;
  display: none;
}

#vanilla:checked {
  background-color: red;
  display: none;
}

#jsjq:checked {
  background-color: green;
  display: none;
}

#react:checked {
  background-color: yellow;
  display: none;
}

.brown {
  background-color: gray;
}

.social-icons {
  margin: 0.6rem 1.6rem;
  display: flex;
  font-size: 4rem;
  position: relative;
  transition: all 400ms ease-in-out;
  color: #fff;
}

.social-icons:hover {
  color: gold;
  cursor: pointer;
}

.social-icons-close {
  font-size: 2rem;
  color: white;
  transition: all 500ms ease-in-out;
}

.white {
  background: white;
}

.white .social-icons,
.white .social-icons-close {
  color: black;
  transition: all 400ms ease-in-out;
}

.black {
  color: white;
  background-color: black;
  transition: all 400ms ease-in-out;
}

.white .social-icons:hover {
  color: gold;
}
